/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2018, 7:45:57 PM
    Author     : andrew
*/
.pagecontent {
    border: 10px solid darkturquoise;
    margin: 10px;
}

.pagecontent div {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagecontent .search {
    margin-left: 360px;
}

.pagecontent .search > input{
    border-color: coral;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    height: 30px;
    width: 170px;
    text-align: center;
}

thead {
    background-color: mistyrose;
}

.modalDialog {
    position: fixed;
    display: none;
    pointer-events: none;
    top: -20px;
    right: 0;
    bottom: 0;
    left: -20px;
    background: rgba(0,0,0,0.8);
    z-index: 2;
}

.popupContent label {
    color: chartreuse;    
}

.popupContent div {
    padding-left: 30px;
    padding-top: 20px;
    position: relative;
}

.popupContent input {
    width: 98%;
}

.close {
    background-color: chartreuse;
    color: red;
}